
@{
    ViewBag.Title = "CatalogoActividades";
    Layout = "~/Views/_Layout/Master.cshtml";
}


<h2>Administración de Actividades</h2>
<script>
    var id_RV = '@ViewBag.id_RV' //! ID de la vista

    var url_Catalogos_GetActividadesCalendario = '@Url.Action("GetActividadesCalendario", "CalendarioActividades")';

    var url_Catalogos_GetPermisos = '@Url.Action("GetPermisos", "CalendarioActividades")';

    var url_Catalogos_AddActividadesCalendario = '@Url.Action("AddActividadesCalendario", "CalendarioActividades")';
    



</script>

<script src="~/Content/Js/Personal/Utils/ClsColumns.js"></script>
<script src="~/Content/Js/Personal/Calendario/ActividadesCalendario.js"></script>
<script src="~/Content/Js/Personal/Calendario/ActividadesCalendarioModal.js"></script>

<style>
    .ui-draggable, .ui-droppable {
        background-position: top;
    }

    .ui-menu {
        z-index: 910 !important;
        font-size: 0.9rem !important;
    }

    .ui-datepicker {
        z-index: 910 !important
    }
</style>



@* Seccion para el datatable *@
<div class="section" id="sectionDataTable">
    <table id="tblActividades" class="cell-border table-striped" data-title-datatable="Actividades Calendario">
        <thead>
            <tr>
                <td>Acciones</td>
                <td>Paso</td>
                <td>Linea de Producción</td>
                <td>Tipo</td> 
                <td>Actividad</td>                
                <td>Id linea produccion</td>
                <td>Id actividad calendario</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@* Modal para crear, editar, modificar *@
<div class="modal" id="mdlClientes">
    <h3><span id="titleModal">Agregar</span> Actividad</h3>

    <ul class="nav nav-tabs" id="tabModal" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="form-tab" href="#formTab" aria-controls="formTab" role="tab" data-toggle="tab" aria-selected="true">Formulario</a>
        </li>
    </ul>

    <div class="tab-content" id="modalTabContent">
        <div class="tab-pane fade show active" id="formTab" aria-labelledby="form-tab" role="tabpanel">
            <form action="/" method="post" id="frmPrincipal">
                <div class="form-row">
                    <div class="form-group col-md-2">

                    </div>
                    <div class="col-md-5">
                        <label>Tipo:</label>
                        <div class="input-group mb-3">
                            <select class="form-control" rows="3" id="fr_area" name="fr_area" autocomplete="off">
                                <option value="PROCESO CONTABLE">PROCESO CONTABLE</option>
                                <option value="ACTIVIDADES DE APOYO">ACTIVIDADES DE APOYO</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="fr_linea">Linea de Producción:</label>
                        <select class="form-control" rows="3" id="fr_linea" name="fr_linea" autocomplete="off">
                            <option value="1">Linea de Producción 1</option>
                            <option value="2">Linea de Producción 2</option>
                            <option value="3">Linea de Producción 3</option>
                            <option value="4">Linea de Producción 4</option>
                            <option value="5">Linea de Producción 5</option>
                            <option value="6">Linea de Producción 6</option>
                            <option value="7">Nóminas</option>
                            <option value="8">Devolución de IVA</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">

                    </div>
                    <div class="col-md-5">
                        <label>Actividad:</label>
                        <div class="input-group mb-3">
                            <input class="form-control text-uppercase" style="width:100%;" name="fr_actividad" id="fr_actividad"  />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="fr_paso">Orden:</label>
                        <input type="number" class="form-control"  id="fr_paso" name="fr_paso" autocomplete="off" />
                    </div>
                </div>
            </form>
        </div>

        <div class="form-group form col-md-12 d-flex justify-content-around">
            <button type="button" class="btn btn-style btn-ok" id="btnAceptarMdl">
                <i class="fa fa-check"></i>&nbsp;&nbsp;<span id="titleBtnAceptar">Agregar</span>&nbsp;&nbsp;
            </button>
            <button type="button" class="btn btn-style btn-danger" id="btnCloseMdl">
                <i class="fa fa-times"></i>&nbsp;&nbsp;Cerrar&nbsp;&nbsp;
            </button>
        </div>

    </div>
</div>
